<% provide(:index, "active") %>


<div class="indexBG jumbotron">
<div class="container ">

    <h1>I kroppen växer ett hot...</h1>
    <p class ="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet condimentum tincidunt. Vivamus nec orci nisl. Aliquam quis lectus pharetra, condimentum mauris sed, sodales justo. Cras vestibulum est turpis, et pretium purus condimentum nec. Integer aliquam arcu egestas ante commodo, consectetur ultrices ipsum pharetra. In nunc nisi, porttitor pharetra varius a, mattis a erat. Nam mauris urna, eleifend ut enim ut, dapibus cursus purus. Duis euismod ex id purus luctus, ut pellentesque felis sodales. Quisque tempus urna eget accumsan dictum. Nunc diam eros, sagittis sit amet enim vitae, malesuada condimentum libero.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet condimentum tincidunt. Vivamus nec orci nisl. Aliquam quis lectus pharetra, condimentum mauris sed, sodales justo. Cras vestibulum est turpis, et pretium purus condimentum nec. Integer aliquam arcu egestas ante commodo, consectetur ultrices ipsum pharetra. In nunc nisi, porttitor pharetra varius a, mattis a erat. Nam mauris urna, eleifend ut enim ut, dapibus cursus purus. Duis euismod ex id purus luctus, ut pellentesque felis sodales. Quisque tempus urna eget accumsan dictum. Nunc diam eros, sagittis sit amet enim vitae, malesuada condimentum libero.</p>
    <br> 
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Ladda ner här <span class="glyphicon glyphicon glyphicon glyphicon-save"</span></a></p>
   

    <br>   

</div>
</div>

<div class="indexBG2 jumbotron">

<div class="container">

    <h1>Ta kontroll</h1>
    <p class ="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet condimentum tincidunt. Vivamus nec orci nisl. Aliquam quis lectus pharetra, condimentum mauris sed, sodales justo. Cras vestibulum est turpis, et pretium purus condimentum nec. Integer aliquam arcu egestas ante commodo, consectetur ultrices ipsum pharetra. In nunc nisi, porttitor pharetra varius a, mattis a erat. Nam mauris urna, eleifend ut enim ut, dapibus cursus purus. Duis euismod ex id purus luctus, ut pellentesque felis sodales. Quisque tempus urna eget accumsan dictum. Nunc diam eros, sagittis sit amet enim vitae, malesuada condimentum libero.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet condimentum tincidunt. Vivamus nec orci nisl. Aliquam quis lectus pharetra, condimentum mauris sed, sodales justo. Cras vestibulum est turpis, et pretium purus condimentum nec. Integer aliquam arcu egestas ante commodo, consectetur ultrices ipsum pharetra. In nunc nisi, porttitor pharetra varius a, mattis a erat. Nam mauris urna, eleifend ut enim ut, dapibus cursus purus. Duis euismod ex id purus luctus, ut pellentesque felis sodales. Quisque tempus urna eget accumsan dictum. Nunc diam eros, sagittis sit amet enim vitae, malesuada condimentum libero.</p>

    <br>

</div>
</div>
  