<% provide(:about, "active") %>
    
<div class="aboutBG container-fluid">


<div class="aboutTitle container">
        <h1>Torn</h1>
    </div>
    
     <div class="aboutBG2 container">

        <div class="row">
            <div class="col-md-2"><img src="images/RödBlodkroppNy.png" class="img-responsive" alt="Responsive image"></div>
        
            <div class="col-md-8">
                <h2>Röd Blodkropp</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet condimentum tincidunt. Vivamus nec orci nisl. Aliquam quis lectus pharetra, condimentum mauris sed, sodales justo. Cras vestibulum est turpis, et pretium purus condimentum nec. Integer aliquam arcu egestas ante commodo, consectetur ultrices ipsum pharetra.</p> 
            </div>

        </div>
     
        <div class="row">
            <div class="col-md-2"><img src="images/Blodkroppny1.png" class="img-responsive" alt="Responsive image"></div>
        
            <div class="col-md-8">
                <h2>Blodkropp</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet condimentum tincidunt. Vivamus nec orci nisl. Aliquam quis lectus pharetra, condimentum mauris sed, sodales justo. Cras vestibulum est turpis, et pretium purus condimentum nec. Integer aliquam arcu egestas ante commodo, consectetur ultrices ipsum pharetra.</p> 
            </div>

        </div>

        <div class="row">
            <div class="col-md-2"><img src="images/Blodkroppny2.png" class="img-responsive" alt="Responsive image"></div>
        
            <div class="col-md-8">
                <h2>Blodkropp - Uppgradering 1</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet condimentum tincidunt. Vivamus nec orci nisl. Aliquam quis lectus pharetra, condimentum mauris sed, sodales justo. Cras vestibulum est turpis, et pretium purus condimentum nec. Integer aliquam arcu egestas ante commodo, consectetur ultrices ipsum pharetra. </p> 
            </div>

        </div>

        <div class="row">
            <div class="col-md-2"><img src="images/Blodkroppny3.png" class="img-responsive" alt="Responsive image"></div>
        
            <div class="col-md-8">
                <h2>Blodkropp - Uppgradering 2</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet condimentum tincidunt. Vivamus nec orci nisl. Aliquam quis lectus pharetra, condimentum mauris sed, sodales justo. Cras vestibulum est turpis, et pretium purus condimentum nec. Integer aliquam arcu egestas ante commodo, consectetur ultrices ipsum pharetra.</p> 
            </div>

        </div>

     </div><!--End of Towers-->

    <div class="aboutTitle container">
        <h1>Fiender</h1>
    </div>

 	 <div class="aboutBG1 container">

        <div class="row">
            <div class="col-md-2"><img src="images/BlodCancerny.png" class="img-responsive" alt="Responsive image"></div>
        
            <div class="col-md-8">
                <h2>Blodcancer</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet condimentum tincidunt. Vivamus nec orci nisl. Aliquam quis lectus pharetra, condimentum mauris sed, sodales justo. Cras vestibulum est turpis, et pretium purus condimentum nec. Integer aliquam arcu egestas ante commodo, consectetur ultrices ipsum pharetra.</p> 
            </div>

        </div>

        <div class="row">
            <div class="col-md-2"><img src="images/BröstCancerny.png" class="img-responsive" alt="Responsive image"></div>
        
            <div class="col-md-8">
                <h2>Bröstcancer</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet condimentum tincidunt. Vivamus nec orci nisl. Aliquam quis lectus pharetra, condimentum mauris sed, sodales justo. Cras vestibulum est turpis, et pretium purus condimentum nec. Integer aliquam arcu egestas ante commodo, consectetur ultrices ipsum pharetra.</p> 
            </div>

        </div>


     </div>


     


     <div class="aboutTitle container">
        <h1>Something</h1>
    </div>  
    
     <div class="aboutBG3 container">
     
        <div class="row">
            <div class="col-md-2"><img src="images/RödBlodkroppNy.png" class="img-responsive" alt="Responsive image"></div>
        
            <div class="col-md-8">
                <h2>Something</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet condimentum tincidunt. Vivamus nec orci nisl. Aliquam quis lectus pharetra, condimentum mauris sed, sodales justo. Cras vestibulum est turpis, et pretium purus condimentum nec. Integer aliquam arcu egestas ante commodo, consectetur ultrices ipsum pharetra. In nunc nisi, porttitor pharetra varius a, mattis a erat. Nam mauris urna, eleifend ut enim ut, dapibus cursus purus. Duis euismod ex id purus luctus, ut pellentesque felis sodales. Quisque tempus urna eget accumsan dictum. Nunc diam eros, sagittis sit amet enim vitae, malesuada condimentum libero.</p> 
            </div>

        </div>

     </div>


     <div class="aboutTitle container">
        <h1>Something</h1>
    </div>

     <div class="aboutBG4 container">
     
        <div class="row">
            <div class="col-md-2"><img src="images/RödBlodkroppNy.png" class="img-responsive" alt="Responsive image"></div>
        
            <div class="col-md-8">
                <h2>Something</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet condimentum tincidunt. Vivamus nec orci nisl. Aliquam quis lectus pharetra, condimentum mauris sed, sodales justo. Cras vestibulum est turpis, et pretium purus condimentum nec. Integer aliquam arcu egestas ante commodo, consectetur ultrices ipsum pharetra. In nunc nisi, porttitor pharetra varius a, mattis a erat. Nam mauris urna, eleifend ut enim ut, dapibus cursus purus. Duis euismod ex id purus luctus, ut pellentesque felis sodales. Quisque tempus urna eget accumsan dictum. Nunc diam eros, sagittis sit amet enim vitae, malesuada condimentum libero.</p> 
            </div>

        </div>

     </div>

</div> <!-- /container fluid -->