 body{
 	background: #FFFCF4;
 }

 .main-page-content{
 	padding-top: 50px;
 }

 .indexBG {
 	color: #fff;
 	text-align: center;
	background: #333;
	/*box-shadow: 10px 10px 5px #888888;*/

}

.indexBG2 {
 	/*color: #fff;*/
 	text-align: center;
	background: #FFFCF4;
	/*box-shadow: 10px 10px 5px #888888;*/

}

.aboutBG {
	background: #333;

}

.aboutTitle {
	text-align: center;
 	color: #FFFCF4;
	background: #1c1c1c;
	margin-top:20px;
	padding-bottom: 10px;
	padding-top: 10px;

}

.aboutBG1 {
 	color: #FFFCF4;
	background: #1c1c1c;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom:20px;

}

 .aboutBG2 {
 	color: #FFFCF4;
	background: #1c1c1c;
	padding-bottom: 5px;
	margin-bottom:20px;	
}

 .aboutBG3 {
 	color: #FFFCF4;
	background: #1c1c1c;
	padding-bottom: 5px;
	margin-bottom:20px;	
}

.aboutBG4 {
 	color: #FFFCF4;
	background: #1c1c1c;
	padding-bottom: 5px;
	margin-bottom:20px;
}

.indexInfo {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
 	color: #fff;
 	background: #555;
}